[submodule "efficientpose"]
	path = efficientpose
	url = https://github.com/lkaesberg/EfficientPose-Package.git
[submodule "cosypose"]
	path = cosypose
	url = https://github.com/lkaesberg/CosyPose-Package.git
